<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="$(env CAMERA_DEV)" />
    <param name="image_width" value="$(env IMAGE_WIDTH)" />
    <param name="image_height" value="$(env IMAGE_HIGTH)" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>

    <remap from="/usb_cam/image_raw"  to="$(env IMAGE_TOPIC)" />

  </node>

  <!--
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  -->

</launch>
